@import "colors";
.header {
  width: 100%;
}
.nav {
  display: flex;
  position: relative;
  justify-content: center;
  
  &-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

    &-item {
      
      font-weight: 600;
      font-size: 16px;

      &__link {
        text-decoration: none;
        color: $color1;
        padding: 30px 20px;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
