.slider {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  max-width: 1920px;

  &-gallery {
    display: flex;
    position: relative;
    max-width: 960px;
    overflow: hidden;

    &-item {
        position: relative;
        height: 200px;
        width: 300px;
        flex-shrink: 0;
        margin:0 10px;
    }
  }
  &__btn {
    width: 100px;
    height: 100px;
    background-color: white;
  }
}
