.slider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 16px;

  &-wrapper {
    overflow: hidden;
    width: 540px;

    @media screen and (max-width: 576px ) {
      max-width: 270px;
    }
  }

  &-gallery {
    display: flex;
    position: relative;
    max-width: 810px;
    transition: 1s;

    &-item {
      position: relative;
      height: 170px;
      width: 250px;
      flex-shrink: 0;
      margin: 0 10px;
    }

    
  }
  &__btn {
    background-color: white;
    transition: 0.4s ease-in-out;
    border-radius: 50%;
    font-size: 60px;
    color: #cc6c5c;
    font-weight: bold;
    background-color: rgba($color: #000000, $alpha: 0.0);

    &:disabled {
      opacity: 0.6;
    }
  }
}
